{%extends 'layout/admin/base.twig'%}
{%block content%}
    <legend>Études</legend>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Début
                </th>
                <th>
                    Fin
                </th>
                <th>
                    Formation
                </th>
                <th>
                    Etablissement
                </th>
                <th>
                    Ville
                </th>
                <th>
                    Département
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for studie in studies %}
            <tr>
                <th>
                    {{ studie.id }}
                </th>
                <td>
                    {{ studie.start }}
                </td>
                <td>
                    {{ studie.end }}
                </td>
                <td>
                    {{ studie.name }}
                </td>
                <td>
                    {{ studie.university }}
                </td>
                <td>
                    {{ studie.city }}
                </td>
                <td>
                    {{ studie.zipCode }}
                </td>
                <td>
                    <a class="btn btn-danger" href="{{ app.request.basepath }}/admin/cv/studies/delete/{{ studie.id }}"><i class="icon-trash icon-white"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}